
</div>


</div>


<footer class="cs-footer" data-scheme="inverse">
    <div class="cs-container">
        <div class="cs-footer__item cs-footer__item-top-bar">
            <div class="cs-footer__item-inner">
                <div class="cs-footer__col cs-col-left">
                    <div class="cs-footer-columns__nav-menu">
                        <ul id="menu-burger-menu-2" class="cs-footer-columns__nav ">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145218 csco-menu-item-style-none">
                                <a href="#">EXPLORE NEWS</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145631 csco-menu-item-style-none">
                                        <a href="#">TOM FITTON&#8217;S WEEKLY UPDATE</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145224 csco-menu-item-style-none">
                                        <a href="https://www.judicialwatch.org/press-room/">PRESS RELEASES</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145632 csco-menu-item-style-none">
                                        <a href="#">CORRUPTION CHRONICLES</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145633 csco-menu-item-style-none">
                                        <a href="#">IN THE NEWS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145634 csco-menu-item-style-none">
                                        <a href="#">INVESTIGATIVE BULLETIN</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145630 csco-menu-item-style-none">
                                <a href="#">MEDIA &#038; RESOURCES</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145202 csco-menu-item-style-none">
                                        <a href="{{ site_url }}category/watch/">VIDEOS</a></li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145192 csco-menu-item-style-none">
                                        <a href="{{ site_url }}category/podcasts/">PODCASTS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145219 csco-menu-item-style-none">
                                        <a href="#">DOCUMENTS</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145216 csco-menu-item-style-none">
                                <a href="#">TAKE ACTION &#038; GET INVOLVED</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145220 csco-menu-item-style-none">
                                        <a href="#">DONATE</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145217 csco-menu-item-style-none">
                                        <a href="#">TAKE ACTION</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145222 csco-menu-item-style-none">
                                        <a href="#">GET OUR TEXT ALERTS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145221 csco-menu-item-style-none">
                                        <a href="#">EMAIL SIGN UP</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145223 csco-menu-item-style-none">
                                        <a href="#">SHOP</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145340 csco-menu-item-style-none">
                                <a href="#">ABOUT</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145341 csco-menu-item-style-none">
                                        <a href="#">MISSION</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145343 csco-menu-item-style-none">
                                        <a href="#">WHO WE ARE</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145344 csco-menu-item-style-none">
                                        <a href="#">CAREERS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145345 csco-menu-item-style-none">
                                        <a href="#">CONTACT</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145347 csco-menu-item-style-none">
                                <a href="#">INFORMATION</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145346 csco-menu-item-style-none">
                                        <a href="#">LAWSUITS &#038; LEGAL ACTIONS</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145349 csco-menu-item-style-none">
                                        <a href="#">OPEN RECORDS LAW RESOURCES</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145350 csco-menu-item-style-none">
                                        <a href="#">THE INTERNATIONAL PROGRAM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="cs-footer__col cs-col-right">
                    <div class="cs-subscribe">
                        <div class="cs-subscribe__content">

                            <div class="cs-subscribe__header">
                                <h2 class="cs-subscribe__heading">
                                    JOIN JUDICIAL WATCH AND HELP FIGHT GOVERNMENT CORRUPTION ON EVERY LEVEL. </h2>
                            </div>

                            <form class="cs-subscribe__form" action="/" method="post"
                                  name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                  novalidate="novalidate">
                                <div class="cs-subscribe__form-group" data-scheme="light">
                                    <input type="email" placeholder="E-mail" name="EMAIL">
                                    <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
                                </div>
                                <div class="cs-subscribe__form-response clear" id="mce-responses">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>

                                <div class="cs-subscribe__description">
                                    By pressing the Subscribe button, you confirm that you have read and are
                                    agreeing to our <a href="https://www.judicialwatch.org/privacy-policy/">Privacy
                                        Policy</a> and <a
                                            href="https://www.judicialwatch.org/terms-and-conditions/">Terms of
                                        Use</a></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cs-footer__item cs-footer__item-bottom-bar">
            <div class="cs-footer__item-inner">
                <div class="cs-footer__col cs-col-left">
                    <div class="cs-logo">
                        <a class="cs-footer__logo cs-logo-once" href="{{ site_url }}">
                            Judicial Watch </a>

                    </div>
                    <div class="cs-footer__copyright">
                        © 2024 Judicial Watch, Inc. All Rights Reserved.

                        <p style="padding: 10px 0">
                            By providing your phone number, you are consenting to receive calls and recurring
                            SMS/MMS messages, including autodialed and automated calls and texts, to that number
                            from the Judicial Watch. Msg&amp;data rates may apply. Reply HELP for help, STOP to end.
                            <a href="https://tandcs.us/jwi" target="_blank">Terms &amp; conditions/privacy policy
                                apply. </a>

                        </p>

                        Judicial Watch is a 501(c)(3) nonprofit organization. Contributions are received from
                        individuals, foundations, and corporations and are tax-deductible to the extent allowed by
                        law.
                    </div>
                    <div class="cs-footer__nav-menu">
                        <ul id="menu-footer-1" class="cs-footer__nav ">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-2019 csco-menu-item-style-none">
                                <a href="{{ site_url }}" aria-current="page">HOME</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145186 csco-menu-item-style-none">
                                <a href="{{ site_url }}category/read/">READ</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145187 csco-menu-item-style-none">
                                <a href="{{ site_url }}category/watch/">WATCH</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145188 csco-menu-item-style-none">
                                <a href="{{ site_url }}category/podcasts/">PODCASTS</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145189 csco-menu-item-style-none">
                                <a href="#">DOCUMENTS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cs-footer__col cs-col-right">
                    <div class="cs-social">
                        <a class="cs-social__link" href="https://www.facebook.com/JudicialWatch" target="_blank">
                            <img src="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-facebook-0001.png"
                                 alt="Facebook"
                                 srcset="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-facebook-0001.png 1x, https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-facebook-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://twitter.com/JudicialWatch" target="_blank">
                            <img src="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-twitter-0001.png"
                                 alt="Twitter"
                                 srcset="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-twitter-0001.png 1x, https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-twitter-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://www.instagram.com/judicialwatch/" target="_blank">
                            <img src="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-instagram-0001.png"
                                 alt="Instagram"
                                 srcset="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-instagram-0001.png 1x, https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-instagram-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://www.youtube.com/user/JudicialWatch"
                           target="_blank">
                            <img src="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-youtube-0001.png"
                                 alt="Youtube"
                                 srcset="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-youtube-0001.png 1x, https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-youtube-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://truthsocial.com/@JudicialWatch" target="_blank">
                            <img src="https://wordpress-1249112-4481685.cloudwaysapps.com/wp-content/uploads/2024/04/icon-social-truth.png"
                                 alt="Truth"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<button class="cs-scroll-top" role="button" aria-label="Scroll to top button">
    <i class="cs-icon-chevron-up"></i>
    <div class="cs-scroll-top-border">
        <svg width="52" height="52" viewBox="0 0 52 52">
            <path d="M26,2 a24,24 0 0,1 0,48 a24,24 0 0,1 0,-48" style="stroke-width: 2; fill: none;"></path>
        </svg>
    </div>
    <div class="cs-scroll-top-progress">
        <svg width="52" height="52" viewBox="0 0 52 52">
            <path d="M26,2 a24,24 0 0,1 0,48 a24,24 0 0,1 0,-48" style="stroke-width: 2; fill: none;"></path>
        </svg>
    </div>
</button>


<script id="csco-scripts-js-extra">

    var csLocalize = {"siteSchemeMode": "light", "siteSchemeToogle": ""};

</script>
<script src="{{ site_url }}/wp-content/themes/judicial-watch/assets/assets/js/scripts.js"
        id="csco-scripts-js"></script>

</div>
