<link rel='stylesheet' id='font-awesome-official-css' href='https://use.fontawesome.com/releases/v6.5.2/css/all.css'
      media='all' integrity="sha384-PPIZEGYM1v8zp5Py7UjFb79S58UeqCL9pYVnVPURKEqvioPROaVAJKKLzvH2rDnI"
      crossorigin="anonymous"/>
<link rel='stylesheet' id='csco-styles-css'
      href='{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/css/style.css' media='all'/>
<link rel='stylesheet' id='b0d964cd1539ac560c5efa149f4392fe-css'
      href='https://fonts.googleapis.com/css?family=Inter%3A400%2C700%2C800%2C500&#038;subset=latin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Cvietnamese&#038;display=swap&#038;ver=1.0.3'
      media='all'/>
<link rel='stylesheet' id='4a08c24c79a2483725ac09cf0f0deba9-css'
      href='https://fonts.googleapis.com/css?family=DM+Sans%3A&#038;subset=latin%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Cvietnamese&#038;display=swap&#038;ver=1.0.3'
      media='all'/>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>


<div class="cs-wrapper">
    <div class="cs-site-overlay"></div>
    <div class="cs-offcanvas" data-scheme="light">
        <div class="cs-offcanvas__header">
            <div class="cs-logo cs-logo-mobile">
                <a class="cs-header__logo cs-header__logo-mobile cs-logo-default"
                   href="{{ function("site_url") }}">
                    <img src="{{ function("site_url") }}wp-content/uploads/2024/05/judicial-watch-logo3.jpg"
                         alt="Judicial Watch" width="321.63265306122" height="80"> </a>

                <a class="cs-header__logo cs-logo-dark" href="{{ function("site_url") }}">
                    <img src="{{ function("site_url") }}wp-content/uploads/2024/05/judicial-watch-logo3.jpg"
                         alt="Judicial Watch" width="321.63265306122" height="80"> </a>
            </div>


            <nav class="cs-offcanvas__nav">
				<span class="cs-offcanvas__toggle" role="button" aria-label="Close mobile menu button">
					<i class="cs-icon cs-icon-x"></i>
				</span>
            </nav>

        </div>

        <div class="cs-offcanvas__search cs-container">

            <form role="search" method="get" class="cs-search__form" action="{{ function("site_url") }}">
                <div class="cs-search__group" data-scheme="light">
                    <input required class="cs-search__input" type="search" value="" name="s" placeholder="Search..."
                           role="searchbox">

                    <button class="cs-search__submit" aria-label="Search" type="submit">
                        Search
                    </button>
                </div>
            </form>


        </div>

        <aside class="cs-offcanvas__sidebar">
            <div class="cs-offcanvas__inner cs-offcanvas__area cs-widget-area cs-container">

                <div class="widget widget_nav_menu">
                    <div class="menu-burger-menu-container">
                        <ul id="menu-burger-menu" class="menu">
                            <li id="menu-item-145218"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145218 csco-menu-item-style-none">
                                <a href="#">EXPLORE NEWS</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-145631"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145631 csco-menu-item-style-none">
                                        <a href="#">TOM FITTON&#8217;S WEEKLY UPDATE</a></li>
                                    <li id="menu-item-145224"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145224 csco-menu-item-style-none">
                                        <a href="{{ function("site_url") }}press-room/">PRESS RELEASES</a></li>
                                    <li id="menu-item-145632"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145632 csco-menu-item-style-none">
                                        <a href="#">CORRUPTION CHRONICLES</a></li>
                                    <li id="menu-item-145633"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145633 csco-menu-item-style-none">
                                        <a href="#">IN THE NEWS</a></li>
                                    <li id="menu-item-145634"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145634 csco-menu-item-style-none">
                                        <a href="#">INVESTIGATIVE BULLETIN</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-145630"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145630 csco-menu-item-style-none">
                                <a href="#">MEDIA &#038; RESOURCES</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-145202"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145202 csco-menu-item-style-none">
                                        <a href="/jwtv">VIDEOS</a></li>
                                    <li id="menu-item-145192"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145192 csco-menu-item-style-none">
                                        <a href="http://judicialh.local/category/podcasts/">PODCASTS</a></li>
                                    <li id="menu-item-145219"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145219 csco-menu-item-style-none">
                                        <a href="/documents">DOCUMENTS</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-145216"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145216 csco-menu-item-style-none">
                                <a href="#">TAKE ACTION &#038; GET INVOLVED</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-145220"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145220 csco-menu-item-style-none">
                                        <a href="{{ function("site_url") }}donate/make-a-contribution-2/">DONATE</a></li>
                                    <li id="menu-item-145217"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145217 csco-menu-item-style-none">
                                        <a href="#">TAKE ACTION</a></li>
                                    <li id="menu-item-145222"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145222 csco-menu-item-style-none">
                                        <a href="#">GET OUR TEXT ALERTS</a></li>
                                    <li id="menu-item-145221"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145221 csco-menu-item-style-none">
                                        <a href="#">EMAIL SIGN UP</a></li>
                                    <li id="menu-item-145223"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145223 csco-menu-item-style-none">
                                        <a href="https://shopjw.org">SHOP</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-145340"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145340 csco-menu-item-style-none">
                                <a href="/about">ABOUT</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-145341"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145341 csco-menu-item-style-none">
                                        <a href="#">MISSION</a></li>
                                    <li id="menu-item-145343"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145343 csco-menu-item-style-none">
                                        <a href="#">WHO WE ARE</a></li>
                                    <li id="menu-item-145344"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145344 csco-menu-item-style-none">
                                        <a href="#">CAREERS</a></li>
                                    <li id="menu-item-145345"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145345 csco-menu-item-style-none">
                                        <a href="#">CONTACT</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-145347"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145347 csco-menu-item-style-none">
                                <a href="#">INFORMATION</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-145346"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145346 csco-menu-item-style-none">
                                        <a href="#">LAWSUITS &#038; LEGAL ACTIONS</a></li>
                                    <li id="menu-item-145349"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145349 csco-menu-item-style-none">
                                        <a href="#">OPEN RECORDS LAW RESOURCES</a></li>
                                    <li id="menu-item-145350"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145350 csco-menu-item-style-none">
                                        <a href="#">THE INTERNATIONAL PROGRAM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="cs-offcanvas__bottombar">

                    <div class="cs-footer__col cs-col-right">
                        <div class="cs-subscribe">
                            <div class="cs-subscribe__content">

                                <div class="cs-subscribe__header">
                                    <h2 class="cs-subscribe__heading">
                                        JOIN JUDICIAL WATCH AND HELP FIGHT GOVERNMENT CORRUPTION ON EVERY LEVEL. </h2>
                                </div>

                                <form class="cs-subscribe__form" action="/" method="post"
                                      name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                      novalidate="novalidate">
                                    <div class="cs-subscribe__form-group" data-scheme="light">
                                        <input type="email" placeholder="E-mail" name="EMAIL">
                                        <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
                                    </div>
                                    <div class="cs-subscribe__form-response clear" id="mce-responses">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>

                                    <div class="cs-subscribe__description">
                                        By pressing the Subscribe button, you confirm that you have read and are
                                        agreeing to our <a href="{{ function("site_url") }}privacy-policy/">Privacy
                                            Policy</a> and <a
                                                href="{{ function("site_url") }}terms-and-conditions/">Terms of
                                            Use</a></div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="cs-social">
                        <a class="cs-social__link" href="{{ sitewideSettings.facebook.value }}" target="_blank">
                            <img src="{{ function("site_url") }}wp-content/uploads/2024/04/icon-facebook-0001.png"
                                 alt="Facebook"
                                 srcset="{{ function("site_url") }}wp-content/uploads/2024/04/icon-facebook-0001.png 1x, {{ function("site_url") }}wp-content/uploads/2024/04/icon-facebook-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://twitter.com/JudicialWatch" target="_blank">
                            <img src="{{ function("site_url") }}wp-content/uploads/2024/04/icon-twitter-0001.png"
                                 alt="Twitter"
                                 srcset="{{ function("site_url") }}wp-content/uploads/2024/04/icon-twitter-0001.png 1x, {{ function("site_url") }}wp-content/uploads/2024/04/icon-twitter-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="{{ sitewideSettings.instagram.value }}" target="_blank">
                            <img src="{{ function("site_url") }}wp-content/uploads/2024/04/icon-instagram-0001.png"
                                 alt="Instagram"
                                 srcset="{{ function("site_url") }}wp-content/uploads/2024/04/icon-instagram-0001.png 1x, {{ function("site_url") }}wp-content/uploads/2024/04/icon-instagram-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="{{ sitewideSettings.youtube.value }}" target="_blank">
                            <img src="{{ function("site_url") }}wp-content/uploads/2024/04/icon-youtube-0001.png"
                                 alt="Youtube"
                                 srcset="{{ function("site_url") }}wp-content/uploads/2024/04/icon-youtube-0001.png 1x, {{ function("site_url") }}wp-content/uploads/2024/04/icon-youtube-0001@2x.png 2x">
                        </a>
                        <a class="cs-social__link" href="https://truthsocial.com/@JudicialWatch" target="_blank">
                            <img src="{{ function("site_url") }}wp-content/uploads/2024/04/icon-social-truth.png"
                                 alt="Truth"> </a>
                    </div>

                </div>
            </div>
        </aside>


    </div>

    <div id="page" class="cs-site">


        <div class="cs-site-inner">


            <div class="cs-header-topbar" data-scheme="light">
                <div class="cs-container">
                    <div class="cs-header__inner">
                        <div class="cs-header__col cs-col-left">


                            <div class="cs-social">
                                <a class="cs-social__link" href="https://twitter.com/JudicialWatch" target="_blank">
                                    <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-twitter-0001.png"
                                         alt="Twitter"
                                         srcset="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-twitter-0001.png 1x, {{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-twitter-0001@2x.png 2x">
                                </a>
                                <a class="cs-social__link" href="{{ sitewideSettings.facebook.value }}"
                                   target="_blank">
                                    <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-facebook-0001.png"
                                         alt="Facebook"
                                         srcset="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-facebook-0001.png 1x, {{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-facebook-0001@2x.png 2x">
                                </a>
                                <a class="cs-social__link" href="{{ sitewideSettings.youtube.value }}"
                                   target="_blank">
                                    <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-youtube-0001.png"
                                         alt="Youtube"
                                         srcset="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-youtube-0001.png 1x, {{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-youtube-0001@2x.png 2x">
                                </a>
                                <a class="cs-social__link" href="{{ sitewideSettings.instagram.value }}"
                                   target="_blank">
                                    <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-instagram-0001.png"
                                         alt="Instagram"
                                         srcset="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-instagram-0001.png 1x, {{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-instagram-0001@2x.png 2x">
                                </a>
                                <a class="cs-social__link" href="https://truthsocial.com/@JudicialWatch"
                                   target="_blank">
                                    <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/04/icon-social-truth.png"
                                         alt="Truth"> </a>
                            </div>


                        </div>
                        <div class="cs-header__col cs-col-center">
                            <h6 class="cs-subscribe__heading">
                                <a href="#">Alert: Huge Lawsuit to Clean Up CA Voter Rolls</a></h6>
                        </div>
                        <div class="cs-header__col cs-col-right">
                            {#<div class="cs-subscribe__form-group" data-scheme="light">
                                <input type="email" placeholder="Email News Sign Up" name="EMAIL">
                                <button type="submit" value="Subscribe" name="subscribe"><i
                                            class="fa-solid fa-angles-right"></i></button>
                                <div data-lastpass-icon-root=""
                                     style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                            </div>#}

                            <div class="cs-subscribe__form-group" data-scheme="light">
                                <form class="field has-addons js-clonedNewsletterForm">
                                <div class="control">
                                    <div class="validation-message"></div>
                                    <input name="s" class="input input-newsletter" required type="email" placeholder="Email News Sign Up">
                                </div>
                                <button type="submit" value="Subscribe" name="subscribe"><i
                                            class="fa-solid fa-angles-right"></i></button>
                                <div data-lastpass-icon-root=""
                                     style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cs-header-before"></div>

            <header class="cs-header cs-header-two cs-header-stretch" data-scheme="light">
                <div class="cs-header__outer">
                    <div class="cs-container">
                        <div class="cs-header__inner cs-header__inner-desktop">
                            <div class="cs-header__col cs-col-left">
									<span class="cs-header__burger-toggle " role="button"
                                          aria-label="Burger menu button">
					<i class="cs-icon cs-icon-menu"></i>
					<i class="cs-icon cs-icon-x"></i>
				</span>
                                <span class="cs-header__offcanvas-toggle " role="button"
                                      aria-label="Mobile menu button">
					<i class="cs-icon cs-icon-menu"></i>
				</span>
                                <nav class="cs-header__nav">
                                    <ul id="menu-primary" class="cs-header__nav-inner">
                                        {% for menuItem in mainMenu %}
                                            {% if menuItem.submenuExists %}
                                                <li id="menu-item-2095"
                                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2095 csco-menu-item-style-none cs-mega-menu cs-mega-menu-terms">
                                                    <a href="javascript:void(0)"><span><span>{{ menuItem.title }}</span></span></a>
                                                    <div class="sub-menu" data-scheme="light">
                                                        <div class="cs-container">
                                                            <div class="cs-mm__content">
                                                                {% if menuItem.submenu.tabs|length > 0 %}
                                                                    <ul class="cs-mm__categories">
                                                                        {% for tabItem in menuItem.submenu.tabs %}
                                                                            {% if tabItem.url and tabItem.posts is empty %}
                                                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2100 csco-menu-item-style-none cs-mega-menu-child-term cs-mega-menu-child">
                                                                                    <a href="{{ tabItem.url }}">{{ tabItem.title }}</a>
                                                                                </li>
                                                                            {% else %}
                                                                                <li class="{% if loop.first %}cs-active-item{% endif %} menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2101 csco-menu-item-style-none cs-mega-menu-child-term cs-mega-menu-child loaded ">
                                                                                    <a href="javascript:void(0)">{{ tabItem.title }}</a>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}


                                                                <div class="cs-mm__posts-container cs-has-spinner">
                                                                    <div class="cs-mm__posts loaded cs-active-item" data-term="21">
                                                                        <div class="cs-mm__posts-mixed">
                                                                            {% for tabPaneItem in menuItem.submenu.tabs %}
                                                                                {% if loop.first %}
                                                                                    {% set firstTabPanePost = tabPaneItem.posts|first %}
                                                                                    {% if firstTabPanePost %}
                                                                                        <div class="cs-mm__posts-mixed-trending">
                                                                                            <h3 class="cs-mm__posts-mixed-title">Trending Now</h3>
                                                                                            <div class="cs-mm__posts-mixed-list">
                                                                                                <article class="mega-menu-item menu-post-item menu-post-item-tile post-145128 post type-post status-publish format-standard has-post-thumbnail category-tom-fittons-weekly-update tag-ashli-babbitt tag-border tag-cia tag-clinton tag-fbi tag-mexico cs-entry cs-video-wrap">
                                                                                                    <div class="cs-entry__outer cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                                                                                                        {% if firstTabPanePost.thumbnails.medium_large.src %}
                                                                                                            <div class="cs-entry__inner cs-entry__thumbnail">
                                                                                                                <div class="cs-overlay-background">
                                                                                                                    <img width="688" height="359" src="{{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }}" class="attachment-csco-medium-uncropped size-csco-medium-uncropped wp-post-image" alt="" loading="lazy" decoding="async" srcset="{{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }} 688w, {{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }} 300w, {{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }} 332w, {{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }} 664w, {{ firstTabPanePost.thumbnails.medium_large.src ?? defaultImage }} 768w" sizes="auto, (max-width: 688px) 100vw, 688px">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        {% endif %}
                                                                                                        <div class="cs-entry__inner cs-entry__content cs-overlay-content">
                                                                                                            <h2 class="cs-entry__title">{{ firstTabPanePost.title|length > 75 ? firstTabPanePost.title|slice(0, 75) ~ '...' : firstTabPanePost.title }}</h2>
                                                                                                        </div>
                                                                                                        <a class="cs-overlay-link" href="{{ firstTabPanePost.link }}" title="{{ firstTabPanePost.title }}"></a>
                                                                                                    </div>
                                                                                                </article>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}


                                                                            {% if menuItem.submenu.tabs %} <!-- Popular -->
                                                                            <div class="cs-mm__posts-mixed-popular">
                                                                                <h3 class="cs-mm__posts-mixed-title">Most popular</h3>

                                                                                <div class="cs-mm__posts-mixed-list">
                                                                                    {% set count = 0 %}
                                                                                    {% for tabPaneItem in menuItem.submenu.tabs %}
                                                                                        {% for tabPanePost in tabPaneItem.posts %}
                                                                                            {% if count < 6 and loop.index > 1 %}
                                                                                                <article class="mega-menu-item menu-post-item menu-post-item-horizontal post-145005 post type-post status-publish format-standard has-post-thumbnail category-tom-fittons-weekly-update tag-ashli-babbitt tag-border tag-doj tag-state-department tag-tucker-carlson cs-entry cs-video-wrap">
                                                                                                    <div class="cs-entry__outer">
                                                                                                        <div class="cs-entry__inner cs-entry__overlay cs-entry__thumbnail cs-overlay-ratio cs-ratio-square">
                                                                                                            <div class="cs-overlay-background">
                                                                                                                <img width="72" height="72" src="{{ tabPanePost.thumbnails.medium_large.src ?? defaultImage }}" class="attachment-csco-small size-csco-small wp-post-image" alt="" loading="lazy" decoding="async" srcset="{{ tabPanePost.thumbnails.medium_large.src ?? defaultImage }} 72w, {{ tabPanePost.thumbnails.medium_large.src ?? defaultImage }} 150w, {{ tabPanePost.thumbnails.medium_large.src ?? defaultImage }} 144w" sizes="auto, (max-width: 72px) 100vw, 72px">
                                                                                                            </div>

                                                                                                            <a href="{{ tabPanePost.link }}" class="cs-overlay-link"></a>
                                                                                                        </div>

                                                                                                        <div class="cs-entry__inner cs-entry__content">
                                                                                                            <h2 class="cs-entry__title"><a href="{{ tabPanePost.link }}">{{ tabPanePost.title|length > 75 ? tabPanePost.title|slice(0, 75) ~ '...' : tabPanePost.title }}</a></h2>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </article>
                                                                                                {% set count = count + 1 %}
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    {% endfor %}

                                                                                </div>
                                                                            </div>
                                                                    {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li id="menu-item-2102"
                                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2102 csco-menu-item-style-none">
                                                    <a href="{{ menuItem.url }}"><span><span>{{ menuItem.title }}</span></span></a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>

                            <div class="cs-header__col cs-col-center">
                                <div class="cs-logo cs-logo-desktop">
                                    <a class="cs-header__logo cs-logo-default " href="{{ function("site_url") }}">
                                        <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/05/judicial-watch-logo3.jpg"
                                             alt="Judicial Watch" width="321.63265306122" height="80"> </a>

                                </div>
                                <div class="cs-logo cs-logo-mobile">
                                    <a class="cs-header__logo cs-header__logo-mobile cs-logo-once"
                                       href="{{ function("site_url") }}">
                                        Judicial Watch </a>

                                </div>
                            </div>

                            <div class="cs-header__col cs-col-right">
                                <div class="cs-header__toggles">
								<span class="cs-header__search-toggle" role="button" aria-label="Search">
			<i class="cs-icon cs-icon-search"></i>
		</span>
                                </div>
                                <a class="cs-button cs-header__custom-button"
                                   href="{{ function("site_url") }}donate/make-a-contribution-2/" target="_blank">
                                    Donate </a>
                            </div>
                        </div>


                        <div class="cs-header__inner cs-header__inner-mobile">
                            <div class="cs-header__col cs-col-left">
						<span class="cs-header__burger-toggle " role="button" aria-label="Burger menu button">
					<i class="cs-icon cs-icon-menu"></i>
					<i class="cs-icon cs-icon-x"></i>
				</span>
                                <span class="cs-header__offcanvas-toggle " role="button"
                                      aria-label="Mobile menu button">
					<i class="cs-icon cs-icon-menu"></i>
				</span>


                                <img src="{{ function("site_url") }}/wp-content/themes/judicial-watch/assets/assets/uploads/2024/05/judicial-watch-logo3.jpg"
                                     alt="Judicial Watch">

                            </div>
                            <div class="cs-header__col cs-col-right">
				<span class="cs-header__search-toggle" role="button" aria-label="Search">
			<i class="cs-icon cs-icon-search"></i>
		</span>
                            </div>
                        </div>


                        <div class="cs-search">
                            <div class="cs-search__inner">
                                <div class="cs-search__form-container">
                                    <form role="search" method="get" class="cs-search__form" action="/">
                                        <div class="cs-search__group" data-scheme="light">
                                            <input required class="cs-search__input" type="search" value="" name="s" placeholder="Search..." role="searchbox">
                                            <button class="cs-search__submit" aria-label="Search" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cs-burger-menu">
                            <div class="cs-container">
                                <div class="cs-burger-menu__inner">
                                    <div class="cs-burger-menu__nav">
                                        <ul id="menu-burger-menu-1" class="cs-burger-menu__nav-menu ">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145218 csco-menu-item-style-none">
                                                <a href="#">EXPLORE NEWS</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145631 csco-menu-item-style-none">
                                                        <a href="#">TOM FITTON&#8217;S WEEKLY UPDATE</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145224 csco-menu-item-style-none">
                                                        <a href="{{ function("site_url") }}press-room/">PRESS
                                                            RELEASES</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145632 csco-menu-item-style-none">
                                                        <a href="#">CORRUPTION CHRONICLES</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145633 csco-menu-item-style-none">
                                                        <a href="#">IN THE NEWS</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145634 csco-menu-item-style-none">
                                                        <a href="#">INVESTIGATIVE BULLETIN</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145630 csco-menu-item-style-none">
                                                <a href="#">MEDIA &#038; RESOURCES</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145202 csco-menu-item-style-none">
                                                        <a href="/jwtv">VIDEOS</a></li>
                                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145192 csco-menu-item-style-none">
                                                        <a href="/podcasts">PODCASTS</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145219 csco-menu-item-style-none">
                                                        <a href="/documents">DOCUMENTS</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145216 csco-menu-item-style-none">
                                                <a href="#">TAKE ACTION &#038; GET INVOLVED</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145220 csco-menu-item-style-none">
                                                        <a href="{{ function("site_url") }}donate/make-a-contribution-2/">DONATE</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145217 csco-menu-item-style-none">
                                                        <a href="#">TAKE ACTION</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145222 csco-menu-item-style-none">
                                                        <a href="#">GET OUR TEXT ALERTS</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145221 csco-menu-item-style-none">
                                                        <a href="#">EMAIL SIGN UP</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145223 csco-menu-item-style-none">
                                                        <a href="https://shopjw.org">SHOP</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145340 csco-menu-item-style-none">
                                                <a href="/about">ABOUT</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145341 csco-menu-item-style-none">
                                                        <a href="#">MISSION</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145343 csco-menu-item-style-none">
                                                        <a href="#">WHO WE ARE</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145344 csco-menu-item-style-none">
                                                        <a href="#">CAREERS</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145345 csco-menu-item-style-none">
                                                        <a href="#">CONTACT</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-145347 csco-menu-item-style-none">
                                                <a href="#">INFORMATION</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145346 csco-menu-item-style-none">
                                                        <a href="#">LAWSUITS &#038; LEGAL ACTIONS</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145349 csco-menu-item-style-none">
                                                        <a href="#">OPEN RECORDS LAW RESOURCES</a></li>
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145350 csco-menu-item-style-none">
                                                        <a href="#">THE INTERNATIONAL PROGRAM</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="cs-burger-menu__bottombar">
                                    <div class="cs-social">
                                    </div>
                                    <div class="cs-burger-menu__bottombar-menu">
                                        <ul id="menu-footer" class="cs-burger-menu__bottombar-nav ">
                                            <li id="menu-item-2019"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-2019 csco-menu-item-style-none">
                                                <a href="{{ function("site_url") }}" aria-current="page">HOME</a></li>
                                            <li id="menu-item-145186"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145186 csco-menu-item-style-none">
                                                <a href="/?taxonomy=category">READ</a></li>
                                            <li id="menu-item-145187"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145187 csco-menu-item-style-none">
                                                <a href="http://judicialh.local/category/watch/">WATCH</a></li>
                                            <li id="menu-item-145188"
                                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-145188 csco-menu-item-style-none">
                                                <a href="/podcasts">PODCASTS</a></li>
                                            <li id="menu-item-145189"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145189 csco-menu-item-style-none">
                                                <a href="/documents">DOCUMENTS</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cs-header-overlay"></div>

                <div class="cs-header-bottombar cs-header-bottombar-default">
                    <div class="cs-container">
                        <div class="cs-header-bottombar__inner">
                            <div class="cs-header-bottombar__nav-menu">
                                <ul id="menu-bottombar" class="cs-header-bottombar__nav ">
                                    <li id="menu-item-2055"
                                        class="fa-solid fa-heart menu-item menu-item-type-custom menu-item-object-custom menu-item-2055 csco-menu-item-style-none">
                                        <a href="{{ function("site_url") }}donate/make-a-contribution-2/">DONATE</a></li>
                                    <li id="menu-item-2022"
                                        class="fa-solid fa-circle-chevron-right menu-item menu-item-type-custom menu-item-object-custom menu-item-2022 csco-menu-item-style-none">
                                        <a href="#">TAKE ACTION</a></li>
                                    <li id="menu-item-2057"
                                        class="fa-solid fa-mobile menu-item menu-item-type-custom menu-item-object-custom menu-item-2057 csco-menu-item-style-none">
                                        <a href="#">GET OUR TEXT ALERTS</a></li>
                                    <li id="menu-item-2058"
                                        class="fa-solid fa-cart-shopping menu-item menu-item-type-custom menu-item-object-custom menu-item-2058 csco-menu-item-style-none">
                                        <a href="https://shopjw.org">SHOP</a></li>
                                    <li id="menu-item-145352"
                                        class="fa fa-flag menu-item menu-item-type-custom menu-item-object-custom menu-item-145352 csco-menu-item-style-none">
                                        <a href="/about">ABOUT US</a></li>
                                    <li id="menu-item-145561"
                                        class="fa fa-house menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-145561 csco-menu-item-style-none">
                                        <a href="{{ function("site_url") }}" aria-current="page">HOME</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

